<!DOCTYPE html>
<html>
  <head>
    <title>{{company_name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous">
      <style>
        #banner {
          height: 660px;
          width: 100%;
          object-fit: cover;
          margin-bottom: 16px;
          
        }
      </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="https://flask-website-1.robedgar.repl.co/static/banner.jpg">
    <div class="container">
    <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
  <div class="row" style=" margin-bottom: 16px;">
    <div class="col-md-6">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi scelerisque eu ultrices vitae auctor eu augue ut lectus. In dictum non consectetur a erat nam at lectus urna. Purus ut faucibus pulvinar elementum integer enim neque. Praesent tristique magna sit amet purus gravida quis blandit turpis. Blandit massa enim nec dui.

    </p>
    </div>
    <div class=" d-none d-md-block col-md-6">
    <img src="/static/people.jpg" style="height:320px;border-radius:4px;">
    </div>
  </div>
    <h2 class="text-center mt-2 mb-4">Job Openings</h2>
    <div>
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </div>
      <div class="text-center mt-4">
    <a href="mailto:hello@mail.com?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Questions%3A%20%3Center%20question%20here%3E%0D%0A%0D%0A%0D%0A" class="btn btn-primary btn-lg">Contact Us</a>
      </div>
      </div>
    {% include 'footer.html' %}
  </body>
</html>